footer {
    text-align: center;
    padding: 3px;
    background-color: brown;
    color: white;
  }
  body {
    margin: 10px;
    
  }
  .features_field{
margin-top: 10px;
  }

  .first_field:hover{
    background-color: brown;
      }

      .second_field:hover{
        background-color: brown;
          }

          .third_field:hover{
            background-color: brown;
              }


              .fourth_field:hover{
                background-color: brown;
                  }

  .about_section{
    margin-top: 10px;
  }

  .welcome_section{
    background-color: brown;
    margin-top: 10px;
    text-align: center;
  }

  .btn {
    margin-right: 20px;
    margin-bottom: 20px;

  }

  .all_courses_section{
    background-image: url(Mentimeter_VisualAssets_Illustrations_IllustrationLibrary_Compositions_2022_03_2.png);
    text-align: center;
    height: 400px;
  }
  .quote_section{
    font-size: 40px;
    text-align: center;
     background-color: #8dba95;
  }
  .caption_one {
font-size: 25px;

  }

  .top_header{

    background-color: black;

  }
  .top_page_header{

    background-color: brown;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  #initial_block{
    background-color: aqua;
  }
  .box{
    border-style: double;
  }

  #upcoming1:hover{
    background-color:#8dba95 ;
  }

  #upcoming2:hover{
    background-color:brown ;
  }

  #upcoming3:hover{
    background-color:#ec7d6b ;
  }